<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список экзаменов</title>
</head>
<body>
    <h1>Шевчук Милана, группа 241-672</h1>
    <h2>Опубликованные экзамены</h2>
    <ul>
        {% for exam in exams %}
            <li>
                <strong>Название:</strong> {{ exam.name }}<br>
                <strong>Дата создания:</strong> {{ exam.created_at }}<br>
                <strong>Дата проведения:</strong> {{ exam.exam_date }}<br>
                <strong>Изображение:</strong><br>
                {% if exam.image %}
                    <img src="{{ exam.image.url }}" width="200"><br>
                {% else %}
                    (Нет изображения)<br>
                {% endif %}
                <strong>Участники:</strong>
                <ul>
                    {% for user in exam.participants.all %}
                        <li>{{ user.username }} ({{ user.email }})</li>
                    {% endfor %}
                </ul>
                <hr>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
